<% msg = 'RailsはRubyベースのフレームワークです。Railsに影響を受けたフレームワークには、Catalystやsymfonyなどがあります' %>

<%= highlight(msg, 'Rails') %><br />

<%= highlight(msg, ['Rails', 'フレームワーク'],
  highlighter: '<a href="search?keywd=\1">\1</a>') %>
