<% content_for :extend_menu do %>
［<%= link_to '関連情報', action: :relation %>］
［<%= link_to 'ダウンロード', action: :download %>］
［<%= link_to 'アンケート', action: :quest %>］
<% end %>
<div id="main">
...コンテンツ本体...
</div>