<div id="list">
  <%= render partial: 'books/book', collection: @books,
    spacer_template: 'separator' %>

  <%# コレクションにパーシャルレイアウトを適用 %>
  <%#= render partial: 'books/book', collection: @books,
    spacer_template: 'separator', layout: 'books/frame' %>
</div>