<ul>
  <li>ユーザ名：<%= @user.username %></li>
  <li>パスワード：<%= @user.email %></li>
  <% unless @user.author.nil? %>
    <li>著者名：<%= @user.author.name %></li>
    <li>住所：<%= @user.author.address %></li>
  <% end %>
</ul>